<h1>Acerca del Registro de Votantes</h1>
<p>
	Esta es una aplicación web para el registro de votantes por departamento, municipio, macrosector, region, sector, barriocolonia. Necesita autorización para ingresar al sitio.
</p>