<div class="center jumbotron">
  <h1>Bienvenidos al Centro de Registro de Votantes</h1>

  <h2>
	Esta es la página de inicio para el registro de votantes
  </h2>

  <%= link_to "Departamentos", departamentos_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Municipios", municipios_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Barrios y Colonias", barrio_colonia_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Personas", personas_path, class: "btn btn-lg btn-primary" %>
</div>


