<footer class="footer">
  <small>
    Derechos Reservados Carlos Roberto Arias
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca",   about_path %></li>
      <li><%= link_to "Contáctanos", contact_path %></li>
      <li><a href="http://www.partidoanticorrupcion.com/">Noticias</a></li>
    </ul>
  </nav>
</footer>
